.report {
  grid-area: 1 / 1 / 4 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
}

.report h3,
h4,
h5 {
  padding: 4px;
  margin: 0;
}

.stats {
  grid-area: 4 / 1 / 7 / 13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: ridge 1rem #b6f486;
}

.d-stats-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  font-size: 90%;
}

.grains {
  order: 1;
  border-right: ridge .5rem #b6f486;
}

.grain-demand {
  order: 2;
  border-right: ridge .5rem #b6f486;
}

.grain-price {
  order: 3;
  border-right: ridge .5rem #b6f486;
}

.land-price {
  order: 4;
  border-right: ridge .5rem #b6f486;
}

.treasury-gold {
  order: 5;
}


.instructions {
  grid-area: 7 / 1 / 8 / 13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.continue-btn {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.3s all;
}
.continue-btn:hover{
  scale: 1.05;
}

.options {
  grid-area: 8 / 1 / 13 / 13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.option-1 {
  flex: 1;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option-2 {
  flex: 1;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option-btn {
  width: 90%;
  height: 15rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #b6f486;
  color: #400e63;
  border: none;
  cursor: pointer;
  border: 10px ridge #b6f486;

  transition: 0.5s all ease-in-out;
}

.option-btn:hover {
  background-color: #400e63;
  color: #b6f486;
  transform: scale(1.1);
  border: 10px ridge #400e63;
}