@import "./scss/container";
@import "./scss/generalStyle";
@import "./scss/gameScreen";
@import "./scss/mainMenu";
@import "./scss/introPage";
@import "./scss/meatRelease.scss";
@import "./scss/realEstate";
@import "./scss/taxes";
@import "./scss/map";
@import "./scss/scientists";
@import "./scss/birthsAndDeaths.scss";
@import "./scss/levelUp";
@import "./scss/meatMarket";
@import "./scss/stockMarket";
@import "./scss/scientistsExpansion";

@font-face {
  font-family: "Alien Robot";
  src: url("fonts/Alien\ Robot.ttf");
}

@font-face {
  font-family: "Big Pixel demo";
  src: url("fonts/Big\ Pixel\ demo.otf");
}

.contbtn {
  position: absolute;
  bottom: 10rem;
  right: 30rem;
  font-size: 2rem;
  font-family: "Alien Robot";
  background-color: #b6f486;
  color: #400e63;
  border: none;
  padding: 1rem;
  margin: 0.3rem;
  cursor: pointer;
  border: 10px ridge #b6f486;
}
