@import "./scss/container";
@import "./scss/generalStyle";
@import "./scss/gameScreen";
@import "./scss/mainMenu";
@import "./scss/introPage";
@import "./scss/meatRelease.scss";
@import "./scss/realEstate";
@import "./scss/map";
@import "./scss/scientists";

@font-face {
  font-family: "Alien Robot";
  src: url("fonts/Alien\ Robot.ttf");
}

@font-face {
  font-family: "Big Pixel demo";
  src: url("fonts/Big\ Pixel\ demo.otf");
}
