.myDiv {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: max-content;
}
.name {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: larger;
}

.continue-btn {
  margin-top: 20px;
}

.cont {
  grid-area: 1/1/13/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
