* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Big Pixel demo";
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.root {
  height: 100%;
  width: 100%;
  border: ridge 1rem #400e63;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.reset-game-btn {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #b6f486;
  color: #400e63;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
