.Checked-report {
  grid-area: 1 / 1 / 13 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
